<div style="text-align: center;">
    <h1>Seminario Final de Estadística</h1>
</div>

## Integrantes

- Jabel Resendiz Aguirre              - C312
- Arianne Camila Palancar Ochando     - C311
- Noel Pérez Calvo                    - C311

## Introducción

Bienvenidos al seminario sobre el análisis y predicción de ataques cardíacos. Hoy exploraremos un conjunto de datos disponible en Kaggle, que nos permite aplicar técnicas de análisis de datos y estadísticos para predecir y estudiar las probabilidades de un ataque cardíaco.

### Objetivos : 
1. `Comprender el Dataset`: Analizaremos las variables incluidas en el conjunto de datos, como la edad, el sexo, la presión arterial, y otros factores de riesgo

2. `Exploración de Datos`: Realizaremos un análisis exploratorio para identificar patrones y relaciones entre las variables. Utilizaremos técnicas de visualización de datos para descubrir tendencias y posibles correlaciones.

3. `Estadística inferencial`: Aplicaremos métodos de estadística inferencial para hacer generalizaciones sobre la población a partir de nuestra muestra de datos. Esto incluirá la estimación de parámetros y la realización de pruebas de hipótesis para evaluar la significancia de nuestras observaciones.

Se consideró en el estudio una muestra de pacientes de la tercera edad. Las columnas de datos a analizar son:

- `age`: Edad del paciente en años
- `sex`: Sexo del paciente (1 = masculino, 0 = femenino)
- `cp`: Tipo de dolor en el pecho (0-3)
- `trtbps`: Presión arterial en reposo (en mm Hg)
- `chol`: Colesterol sérico en mg/dl
- `fbs`: Azúcar en sangre en ayunas > 120 mg/dl (1 = verdadero, 0 = falso)
- `restecg`: Resultados electrocardiográficos en reposo (0-2)
- `thalachh`: Frecuencia cardíaca máxima alcanzada
- `exng`: Angina inducida por ejercicio (1 = sí, 0 = no)
- `oldpeak`:Depresión del ST inducida por el ejercicio en relación con el reposo
- `slp`: Pendiente del segmento ST de ejercicio pico (0-2)
- `caa`: Número de vasos principales coloreados por fluoroscopia (0-3)
- `thall`: Resultado de la prueba de estrés con talio (0-3)
- `output`: Diagnóstico de enfermedad cardíaca (0 = menor probabilidad, 1 = mayor probabilidad)


Este seminario no solo nos ayudará a entender mejor los factores que contribuyen a los ataques cardíacos, sino que también nos proporcionará habilidades prácticas en el uso de herramientas estadísticas.

## Importando módulos

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt

## Cargando datos

In [3]:
heart = pd.read_csv("heart.csv")

## Análisis exploratorio de los datos

### Descripción básica de los datos

In [4]:
heart.head() # verficar que se han cargado correctamente los datos

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart.info() #Se proporciona información útil sobre el DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB